* { 
    box-sizing: border-box;
  
} 


body { 
    /* CSS Variables that may have been missed get put on body */ 
        --layout-topbar:  56px;  
        min-width: fit-content;
        min-height: 100vh;
    } 
    
    .div1{
        height:36px;
        background-color: #EE3425;
       text-align: center;
       padding:10px;
    }

    .styles_container__TOMue { 
        --layout-topbar: 56px; 
        min-width: -moz-fit-content; 
        min-width: fit-content; 
        min-height: 100vh;
    } 
  

    .div2 {
    
        /* Make the div fixed on the screen */
      
        padding: 8px 16px; 
       z-index:100;
       width:100%;
        height: 56px; /* Adjust the height as per your needs */
        background-color:#fbdc00; /* Start with a transparent background */
       
      }
      .div2.fixed {
        position: fixed;
        top: 0;
        background-color: white;
        /* Add any other styles you need for the fixed div2 */
    }
    @media (prefers-color-scheme: dark){ 
      body { 
        color: #000!important;
      } 
    }     
    
    html { 
        padding: 0; 
        margin: 0; 
        border: none;
    } 
    
    :root { 
        --color-primary: #ee3425; 
        --color-primary-1: #ee3425; 
        --font-color: #434343; 
        --font-color-heading: #000; 
        --font-color-link: var(--color-primary); 
        --font-family: "PT Sans",sans-serif; 
        --font-family-heading: "Ubuntu",sans-serif; 
        --font-size-md: 14px; 
        --line-height: 1.5;
    } 
    
    .styles_container__T_Plg { 
        position: sticky; 
        top: 0; 
        left: 0; 
        z-index: 9999; 
        display: flex; 
        align-items: center; 
        width: 100%; 
        height: var(--layout-topbar); 
        font-family: var(--font-family-heading); 
        font-weight: 500; 
        color: var(--font-color-heading); 
       
    } 
    
    .styles_logo_container__qF5z7 { 
        display: block; 
        flex-shrink: 0; 
        margin-left: auto; 
        cursor: pointer;
    } 
    
    .styles_navbar__tnb5E { 
        margin-right: auto; 
        margin-left: auto;
    } 
    
    .styles_register_container__Bu59g { 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        margin-right: auto; 
        font-family: var(--font-family-heading); 
        list-style-type: none;
    } 
    
    button { 
        font-family: var(--font-family); 
        font-size: 14px!important; 
        font-weight: 700!important;
    } 
    
    .styles_nav_button__KLyTe { 
        display: none; 
        flex-shrink: 0; 
        align-items: center; 
        justify-content: center; 
        height: 30px; 
        padding: 0; 
        margin-right: 16px; 
        cursor: pointer; 
        background-color: transparent; 
        border: none;
    } 



    
    a { 
        color: var(--font-color-link); 
        text-decoration: none;
    } 
    
    a:hover { 
        text-decoration: underline;
    } 
    
    .styles_nav_list__6mx0D { 
        display: flex; 
        align-items: center; 
        list-style-type: none;
    } 
    
    .styles_register_login__F_Jck { 
        display: flex; 
        align-items: center; 
        margin-right: 16px; 
        cursor: pointer;
    } 
    
    .styles_contact__jMVkT { 
        width: -moz-max-content; 
        width: max-content; 
        margin-left: 40px; 
        color: var(--font-color-heading);
    } 
    
    .styles_contact__jMVkT:hover { 
        color: var(--color-primary); 
        cursor: pointer;
    } 
    
    .ui_nBRuU { 
        align-items: center; 
        cursor: pointer; 
        display: flex; 
        font-family: var(--font-family); 
        height: 28px; 
        justify-content: center; 
        line-height: 1.2; 
        padding: 2px 4px;
    } 
    
    .ui_button_container { 
        font-size: 1em; 
        border: none; 
        border-radius: 4px; 
        outline: none; 
        transition: color .1s linear,background-color .1s linear,border-color .1s linear; 
        will-change: color,background-color,border-color;
    } 
    
    .styles_register_signup__eTPFU { 
        width: 100%; 
        color: #fff; 
        background-color: #ee3425; 
        border-radius: 8px!important;
    } 
    
    .ui_button_container.ui_ps_size_md { 
        min-width: 72px; 
        height: 36px; 
        padding: 4px 16px; 
        font-size: 13px;
    } 
    
    .ui_button_container.ui_ps_themeType_primary { 
        color: #fff; 
        background-color: var(--color-primary); 
        border: 1px solid var(--color-primary);
    } 
    
    .ui_button_container.ui_ps_themeType_primary:hover { 
        background-color: var(--color-primary-1);
    } 
    
    .styles_checking_seo__VdciU { 
        display: none; 
        background-color: red;
    } 
    
    .styles_nav_item__8fo_y { 
        margin-left: 20px; 
        border-radius: 4px;
    } 
    
    .styles_nav_list__6mx0D a { 
        color: #000; 
        text-decoration: none;
    } 
    
    a:hover  { 
        color: #ee3425;
    } 
    
    .styles_section_container__dNDIu { 
        display: block; 
        margin-right: 20px;
    } 
    
    .styles_sections_container__TVJmQ { 
        display: flex;
    } 
    
    .styles_nav_item_inner__ZJ2Kl { 
        display: flex; 
        align-items: center; 
        margin-left: 20px; 
        cursor: pointer;
    } 
    
    .styles_nav_item_inner__ZJ2Kl:hover { 
        color: var(--color-primary);
    } 
    
    .styles_section_nav_list__kUbpQ { 
        display: block; 
        padding: 0; 
        margin: 0; 
        list-style-type: none;
    } 
    
    .styles_section_container__dNDIu:last-of-type { 
        margin-right: 0;
    } 
    
    .styles_section_nav_item__K_R50 { 
        margin-bottom: 4px; 
        background-color: #fff; 
        border-radius: 4px; 
        transition: background-color .1s linear;
    } 
    
    .styles_section_nav_item__K_R50:hover { 
        background-color: #feebea;
    } 
    
    h4 { 
        font-family:  var(--font-family-heading); 
        color:  var(--font-color-heading);
        margin-top: 0; 
        margin-bottom: 1em;
    } 
    
    .styles_section_title__Lo_Wm { 
        padding: 4px; 
        margin-bottom: 4px; 
        font-weight: 700;
    } 
    
    .styles_section_nav_item_link__Nh5z_ { 
        font-weight: 400; 
        color: inherit;
    } 
    
    .styles_section_nav_inner_item__TD0hC { 
        display: flex; 
        align-items: center; 
        padding: 4px;
    } 
    
    .styles_section_nav_item_icon__VJ9Ge { 
        width: 20px; 
        height: 20px; 
        margin-right: 5px;
    } 
    
    .styles_section_nav_item_icon__VJ9Ge svg { 
        display: block; 
        width: 100%; 
        height: 100%;
    } 
    
    
    /* These were inline style tags. Uses id+class to override almost everything */
    #extwaiokist.style-pB2V1 {  
       display:none;  
    }  
    #extwaigglbit.style-N8kQa {  
       display:none;  
    }  
    






































    .video
    {
  
     display:grid;
     grid-template-columns: 100px 1fr 1fr 100px;
    height:392px;
     background-image: url("https://i.postimg.cc/mDJht7sm/bg-trans.png");

  padding:16px;
  align-items: center;
margin-left:auto;
margin-right:auto;
    }
    






.comp{
  
    height:392px;
}




.ui_4WsFV { 
    border: 1px solid #e0e0e0; 
    border-radius: 6px; 
    cursor: pointer; 
    display: flex; 
    overflow: hidden; 
    padding: 0;
} 

.styles_select_controller__6Yi60 .ui_select_display_container { 
    height: 41px!important; 
    border: 1px solid #e0e0e0!important; 
    border-right: none!important; 
    border-radius: 20px!important; 
    border-top-right-radius: 0!important; 
    border-bottom-right-radius: 0!important; 
    outline: none!important;
} 

.ui_select_container.ui_ps_size_md .ui_select_display_container { 
    height: 40px;
} 

.ui_97JkZ { 
    display: block; 
    position: relative;
} 

.styles_select_controller__6Yi60 { 
    width: 110px; 
    min-width: 110px;
} 

.styles_user_input__7Ry_v { 
    position: relative; 
    display: flex; 
    align-items: center; 
    border-radius: 20px;
} 

.styles_controller_wrapper__filnK { 
    display: flex; 
    margin-top: 5px;
} 

.styles_form__VJHjP { 
    display: flex; 
    flex-direction: column;
} 

.styles_content_container__4QwTm { 
    flex: 1 1;
} 

.ui_EvXjS { 
    margin-left: auto; 
    margin-right: auto; 
    padding: 16px; 
    width: 960px;
} 

.styles_container__iUxaX { 
    display: flex; 
    align-items: center; 
    height: 392px;
} 

.styles_container__YcS5m.ui_fixed_container { 
    width: 1200px;
} 

.styles_header__raNgO { 
    position: relative; 
    width: 100%; 
    padding-top: 57px; 
    margin-top: -57px; 
    background: url(https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp); 
    background-color: var(--color-secondary); 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: 100%; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.styles_children_container__vTOwd { 
    flex: 1 1; 
    background-color: #fff;
} 

.styles_inner_container__KPZSx { 
    display: flex;
} 

.styles_container__TOMue { 
    min-width: -moz-fit-content; 
    min-width: fit-content; 
    min-height: 100vh;
} 



@media (prefers-color-scheme: dark){ 
  body { 
    color: #000!important;
  } 
}     

html { 
    padding: 0; 
    margin: 0; 
    border: none;
} 

:root { 
    --color-primary: #ee3425; 
    --color-secondary: #fbdc00; 
    --color-secondary-5: #fff; 
    --font-color: #434343; 
    --font-color-link: var(--color-primary); 
    --font-family: "PT Sans",sans-serif; 
    --font-size-md: 14px; 
    --line-height: 1.5;
} 

.ui_0dtIh { 
    display: flex;
    border:  none; 
    cursor:  pointer; 
    flex-grow:  0; 
    justify-content:  center; 
    margin:  0; 
    overflow:  hidden; 
    padding:  8px 12px; 
    width:  100%;
    align-items: center; 
    background-color: var(--color-secondary-5); 
} 











.video h1{
    font-family:sans-serif;
}
.grow
{
   
    flex:1;
  display:flex;
}
.line{

    flex:1;
    justify-content: center;
}
.line h1{
    font:40px Ubuntu,sans-serif;
    color:#000000;
    font-weight: bold;
}
.vdo{
     flex:1;
}
.vdo img{
   margin-top:8px;
    margin-left:20px;
    height:392px;
    width:100%;
}
iframe
{
    display:inline-block;
}
.yt
{
    height:300px;
    width:90%;
  margin:0 40px;
}
.num
{
display:flex;
flex-direction: row;
flex:1;
padding:20px;
height: 200px;
background-color: white;
border-bottom-left-radius: 30%;
border-bottom-right-radius: 30%;
}
.cnt,.pps,.st,.cm
{
flex:1;
}
.cnt h1{
text-align:center;
}
.pps h1{
text-align:center;
} .st h1{
text-align:center;
} .cm h1{
text-align:center;
}
.cnt p{
text-align:center;
font-weight:bold;
}
.pps p{
text-align:center;
font-weight:bold;
} .st p{
text-align:center;
font-weight:bold;
} .cm p{
text-align:center;
font-weight:bold;
}
.map{
background-color:#fffef2;
border-left:150px solid #fffef2;
padding-bottom:20px;

display: flex;
align-items: center;
}
.soln,.mp{
    flex:1;
    padding:16px;
    margin:0 16px;
}
.solnn {
    font:40px;
    margin-left:100px;
    margin:0px 0px 10px;
    font-family:sans-serif;
}
.mp img
{
  height: 360px;
  width:90%;
}
.op
{
    text-align:center;
    font-size: 40px;
    font-family: sans-serif;
}
.card
{
    display:flex;
    flex-direction: column;
}
.bdl
{
    display: flex;
    margin-left:100px;
}
.items
{ flex:1;
}
.cbl
{
    margin-left: 30px;
}
.tdb
{
    text-align: center;
    margin:50px;
}
.rdy
{
background-color:  #fbdc00;
padding:30px;
}
.nl{
    display:inline-block;
    position:relative;
    left:100px;
}
.rdy button
{
    display:inline-block;
    position:relative;
    left:300px;

}





.ofc
{
    color:black;
    font:14px Ubuntu, sans-serif;
   font-weight: bold;
 margin-top:10px;
   margin-bottom:30px;
}

.styles_find__zT3eI
{
    color:red;
font:12px "PT Sans", sans-serif;
margin:100px 4px 0px 0px;
font-weight:bold;
}





* { 
    box-sizing: border-box;
} 

.styles_children_container__vTOwd { 
    flex: 1 1; 
    background-color: #fff;
} 

.styles_inner_container__KPZSx { 
    display: flex;
} 

.styles_container__TOMue { 
    min-width: -moz-fit-content; 
    min-width: fit-content; 
    min-height: 100vh;
} 

body { 
    padding:  0; 
    margin:  0; 
    border:  none;
    font-family: var(--font-family); 
    font-size: var(--font-size-md); 
    line-height: var(--line-height); 
    color: var(--font-color); 
    -webkit-font-smoothing: antialiased;
} 

@media (prefers-color-scheme: dark){ 
  body { 
    color: #000!important;
  } 
}     

html { 
    padding: 0; 
    margin: 0; 
    border: none;
} 

:root { 
    --color-primary: #ee3425; 
    --font-color: #434343; 
    --font-color-heading: #000; 
    --font-color-link: var(--color-primary); 
    --font-family: "PT Sans",sans-serif; 
    --font-family-heading: "Ubuntu",sans-serif; 
    --font-size-md: 14px; 
    --line-height: 1.5;
} 

.styles_section_industries_served__N4mr6 { 
    padding: 16px!important; 
    margin-bottom: 50px; 
    background: #fffef3;
} 

.ui_EvXjS { 
    margin-left: auto; 
    margin-right: auto; 
    padding: 16px; 
    width: 960px;
} 

.styles_container__YcS5m.ui_fixed_container { 
    width: 1200px;
} 

h3 { 
    font-family:   var(--font-family-heading); 
    color:   var(--font-color-heading);
    margin-top:  0; 
    margin-bottom:  1em;
    font-size: 28px; 
    line-height: 1.2;
} 

.styles_heading__cmDRT { 
    text-align: center;
} 

.styles_industries_container__uEfE4 { 
    display: flex; 
    flex-flow: row wrap; 
    align-content: space-between; 
    justify-content: space-between;
} 

.styles_item__pnuJm { 
    flex-direction: column; 
    width: 100px; 
    margin: 10px;
} 

.styles_item__pnuJm img  { 
    width: 100px; 
    height: 100px;
} 

.styles_text__WnLbo { 
    display: flex; 
    justify-content: center; 
    font-size: 16px; 
    font-weight: 700; 
    color: #000; 
    text-align: center;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-98db6.style-98db6 {  
   width: 84px;  
    margin-left: 8px;  
}  
#style-dhVyw.style-dhVyw {  
   width: 88px;  
    margin-left: 6px;  
}  




























.gst{
    display:grid;
    height:450px;
    padding-top:50px;
    padding-bottom:50px;
    margin-left:300px;
   grid-template-columns :1fr 1fr;
   grid-column-gap:20px;
}
.pbf{
    display:grid;
    align-items: center;
    margin-left:40px;
}
.ehc{
    flex:1;
}
.pbf p{
    align-items: center;
}
.pbf img{

    height:320px;
    width:350px;
}
.video-container {
    width:100%;
    position: relative;
    display: inline-block;
    height:450px;
  }
  
  .video-link {
    position: relative;
    display: block;
  }
  
  .thumbnail {
    display: block;
    width: 100%;
    height: 450px;
  }
  
  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.moving-image {
    position: relative;
    animation: moveUpDown 4s infinite alternate;
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  
.mt{
    height:450px;
    width:100%;
}
.gfc
{
    display:grid;
    grid-template-columns :1fr 1fr;
    padding:16px;
    background-color:#ee3425
}
.tm{
    margin-left:150px;
}
.gfc h3{
    color:white;
}
.gfc p{
    color:white;
}
.km
{
    text-align:right;
    margin:20px 100px 20px;
}
.blg
{
    margin:20px 40px 20px 40px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}
.bgs
{
    padding:10px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
}
.bgs img{
    width:376px;
    height:200px;
}

.bgs h4{
    color:red;
}
.rm{
    color:red;
}
.blgcp{
    color:#000000;
    font:14px "PT Sans", sans-serif;
  font-weight:bold;
  padding-bottom:10px;
}
.dt{
margin-left:10px;
margin-right:10px;
display:flex;
justify-content: space-between;
align-items: flex-start;
}



.bl{
    background-color:  #fbdc00;
}
.sbs{
    border:50px solid #fbdc00;
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap: 80px;
    background-color:  #fbdc00;
   
}
.sbs img{
    display: block;
    margin-left: auto;
   
}
.qln{
    width:90%;
    margin-left: 30px;
    display:flex;
}
.flx{
flex:1;
}
.flx h6{
text-decoration: underline;
}
.plc{
    background-color: #ebbe00;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:auto;
    padding: 20px 50px 0px 50px;
}
.plc a{
display:block;
text-decoration:none;
margin-bottom: 10px;
color:black;
}
.plc a:hover {  color: #FF0000;} 
.ll{
    display:flex;
}
.cuty
{
    display:flex;
    padding:10px;
}
.trms
{
    display:flex;
    list-style-type: none;
}
.trms a{
    color:black;
    text-decoration: none;
}
.cpy{
display:flex;
padding:10px;
margin-left:120px;
}
.mrq{
    display:flex;
    justify-content:space-around;
}
.mrq img{
    margin-left:20px;
    height:73px;
    width:146px;
}


















.styles_main_container__ZSwzL { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-bottom: 40px; 
    background: #fffef2;
} 

.styles_children_container__vTOwd { 
    flex: 1 1; 
    background-color: #fff;
} 

.styles_inner_container__KPZSx { 
    display: flex;
} 

.styles_container__TOMue { 
    min-width: -moz-fit-content; 
    min-width: fit-content; 
    min-height: 100vh;
} 

body { 
    padding:  0; 
    margin:  0; 
    border:  none;
    font-family: var(--font-family); 
    font-size: var(--font-size-md); 
    line-height: var(--line-height); 
    color: var(--font-color); 
    -webkit-font-smoothing: antialiased;
} 

@media (prefers-color-scheme: dark){ 
  body { 
    color: #000!important;
  } 
}     

html { 
    padding: 0; 
    margin: 0; 
    border: none;
} 

:root { 
    --color-primary: #ee3425; 
    --color-primary-1: #ee3425; 
    --font-color: #434343; 
    --font-color-heading: #000; 
    --font-color-link: var(--color-primary); 
    --font-family: "PT Sans",sans-serif; 
    --font-family-heading: "Ubuntu",sans-serif; 
    --font-size-md: 14px; 
    --line-height: 1.5;
} 

.ui_EvXjS { 
    margin-left: auto; 
    margin-right: auto; 
    padding: 16px; 
    width: 960px;
} 
.cards_five
{
  width:100%;
   background-color: #fffef2;
}


h3 { 
    font-family:   var(--font-family-heading); 
    color:   var(--font-color-heading);
    margin-top:  0; 
    margin-bottom:  1em;
    font-size: 28px; 
    line-height: 1.2;
} 

.styles_heading_container__dfpW6 { 
    margin-bottom:0px;
    text-align: center;
} 


.styles_main_container__ieOx_ { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 50px;
} 

.styles_card_container__1gBLK { 
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
} 

.styles_card_container__1gBLK:-webkit-scrollbar { 
    display: none;
} 

.styles_main_container__ieOx_ .styles_gtp_container_button__dy2Cq  { 
    display: flex; 
    justify-content: space-between;
} 

button { 
    font-family: var(--font-family); 
    font-size: 14px!important; 
    font-weight: 700!important;
} 

.ui_nBRuU { 
    align-items: center; 
    cursor: pointer; 
    display: flex; 
    font-family: var(--font-family); 
    height: 28px; 
    justify-content: center; 
    line-height: 1.2; 
    padding: 2px 4px;
} 

.ui_button_container { 
    font-size: 1em; 
    border: none; 
    border-radius: 4px; 
    outline: none; 
    transition: color .1s linear,background-color .1s linear,border-color .1s linear; 
    will-change: color,background-color,border-color;
} 

.ui_button_container.ui_ps_size_md { 
    min-width: 72px; 
    height: 36px; 
    padding: 4px 16px; 
    font-size: 13px;
} 

.ui_button_container.ui_ps_themeType_primary { 
    color: #fff; 
    background-color: var(--color-primary); 
    border: 1px solid var(--color-primary);
} 

.styles_main_container__ieOx_ .styles_inactive__Rq_Bh  { 
    background: #e5dfdf!important; 
    border: grey!important;
} 

.styles_main_container__ieOx_ .styles_gtp_container_button__dy2Cq button  { 
    width: 200px; 
    padding: 20px; 
    margin: 0 20px; 
    font-weight: 700; 
    color: #000!important; 
    border-radius: 20px;
} 

.ui_button_container.ui_ps_themeType_primary:hover { 
    background-color: var(--color-primary-1);
} 

.styles_container__7cFsf { 
    position: relative; 
    display: flex;
} 

.styles_card_element__itU40 { 
    display: grid;
    grid-template-columns: 10% 20% 60% 10%; 
    align-items: center; 
    margin: 14px 0;
} 

@media (max-width: 992px){ 
  .ui_EvXjS { 
    width: 100%;
  } 
}     

.styles_imagecontainermobile__57eRt { 
    display: none;
} 

.styles_imagecontainer__7Ps6C { 
    display: flex; 
    align-items: center; 
    justify-content: center;
} 

.styles_image__cFHAa { 
    width: 560px; 
    height: 320px;
} 

.styles_main__9QKz8 { 
    width: 300px; 
    padding: 16px; 
    border-radius: 10px; 
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
} 

.styles_stage1__RwgVC { 
    margin-bottom: 120px;
} 

.styles_arrow__JcExt { 
    position: absolute;
} 

.styles_arrow1__hJg7v { 
    top: 104px; 
    left: 300px;
} 

.styles_arrow2__JOZhk { 
    bottom: 116px; 
    left: 300px;
} 

.styles_arrow3__XQhnr { 
    top: 104px; 
    right: 300px;
} 

.styles_stage3__anVPg { 
    margin-bottom: 120px;
} 

.styles_arrow4__W5PwF { 
    right: 300px; 
    bottom: 116px;
} 

p { 
    margin-top:  0; 
    margin-bottom:  1em;
    font-size: 16px;
} 

.styles_redtext__qNc_O { 
    font-weight: 600; 
    color: #ee3425;
} 

.styles_heading__GyQVu { 
    display: flex; 
    align-items: center; 
    padding: 0 0 10px; 
    margin: 0; 
    list-style-position: outside;
} 

.styles_main__9QKz8 span  { 
    display: flex;
} 

.styles_arrowimage__50gz2 { 
    width: 150px;
} 

.styles_heading__GyQVu div  { 
    padding-left: 8px; 
    font-size: 20px; 
    font-weight: 600;
} 

.styles_para__7I1R1 { 
    padding-bottom: 5px; 
    padding-left: 8px; 
    margin: 0;
} 

a { 
    color: var(--font-color-link); 
    text-decoration: none;
} 

.styles_card_icon__Jt_3H a { 
    text-decoration: none;
} 

.styles_card_icon__Jt_3H { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
} 

.styles_card__hpklv { 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 184px; 
    height: 160px; 
    padding: 10px 7px; 
    margin: 10px; 
    background: #fff; 
    border: 1.5px solid transparent; 
    border-radius: 10px; 
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
} 

.styles_card__hpklv:hover { 
    border: 1.5px solid var(--color-primary);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-jzrlX.style-jzrlX {  
   color: transparent;  
}  
#style-clPFf.style-clPFf {  
   color: transparent;  
}  
#style-eCNUG.style-eCNUG {  
   color: transparent;  
}  
#style-k9joE.style-k9joE {  
   color: transparent;  
}  
#style-sPqLa.style-sPqLa {  
   color: transparent;  
}  



























.styles_nav_list__6mx0D { 
    display: flex; 
    align-items: center; 
    list-style-type: none;
} 

.styles_navbar__tnb5E { 
    margin-right: auto; 
    margin-left: auto;
} 


.styles_is_topbar_fixed__HEhYp { 
    background: #fff; 
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
} 

.styles_container__TOMue { 
    --layout-topbar: 56px; 
    min-width: -moz-fit-content; 
    min-width: fit-content; 
    min-height: 100vh;
} 

body { 
    padding:  0; 
    margin:  0; 
    border:  none;
    font-family: var(--font-family); 
    font-size: var(--font-size-md); 
    line-height: var(--line-height); 
    color: var(--font-color); 
    -webkit-font-smoothing: antialiased;
} 

@media (prefers-color-scheme: dark){ 
  body { 
    color: #000!important;
  } 
}     

html { 
    padding: 0; 
    margin: 0; 
    border: none;
} 

:root { 
    --color-primary: #ee3425; 
    --font-color: #434343; 
    --font-color-heading: #000; 
    --font-color-link: var(--color-primary); 
    --font-family: "PT Sans",sans-serif; 
    --font-family-heading: "Ubuntu",sans-serif; 
    --font-size-md: 14px; 
    --line-height: 1.5;
} 

.styles_nav_item__8fo_y { 
    margin-left: 20px; 
    border-radius: 4px;
} 

.styles_bottom_footer__pr0sd { 
    z-index: 10000; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    padding: 8px 30px; 
    background: #ebbe00;
} 

.styles_bottom_footer_right__l_rTH { 
    display: flex; 
    align-items: center;
} 

button { 
    font-family: var(--font-family); 
    font-size: 14px!important; 
    font-weight: 700!important;
} 

.styles_nav_button__KLyTe { 
    display: none; 
    flex-shrink: 0; 
    align-items: center; 
    justify-content: center; 
    height: 30px; 
    padding: 0; 
    margin-right: 16px; 
    cursor: pointer; 
    background-color: transparent; 
    border: none;
} 

.styles_nav_item_inner__ZJ2Kl { 
    display: flex; 
    align-items: center; 
    margin-left: 20px; 
    cursor: pointer;
} 

.styles_bottom_footer_left__7DOKA { 
    display: flex; 
    align-items: center;
} 

.styles_copyright_list_mobile___c7rQ { 
    display: none;
} 

.styles_social_media__kHOsn { 
    padding: 8px 30px;
} 

.styles_copyright_list__zrvQ7 { 
    display: flex; 
    margin-left: 10px; 
    font-family: var(--font-family-heading); 
    font-size: 12px; 
    font-weight: 700; 
    list-style-type: none;
} 

.styles_list__jGq8v { 
    margin-right: 5px; 
    cursor: pointer;
} 

.styles_list__jGq8v:hover { 
    text-decoration: underline;
} 

a { 
    color: var(--font-color-link); 
    text-decoration: none;
} 

a:hover { 
    text-decoration: underline;
} 

.styles_copyright_list__zrvQ7 a  { 
    color: #000; 
    text-decoration: none;
} 

.styles_social_media__kHOsn svg  { 
    margin-right: 4px; 
    color: #000; 
    cursor: pointer;
} 

.styles_lang__N_yGq { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    cursor: pointer; 
    background: transparent; 
    border-radius: 8px;
} 

.styles_globe_container__g_at6 { 
    display: flex; 
    align-items: center;
} 

.styles_selected_lang__aePh2 { 
    margin-bottom: 6px; 
    font-size: 15px; 
    font-weight: 700; 
    color: #ee3425; 
    text-decoration: underline;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-yziHE.style-yziHE {  
   color: transparent;  
    margin-right: 5px;  
}  
